h3 {color: brown;}
ul{color: violet;}


* {
    box-sizing: border-box;
}
  
  .box {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 100px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    
  }

  #one {
    border: 10px solid green;
    background-color: red;
  }

  #two {
    border: 10px solid red;
    background-color: yellow;
    left: 30px;
    bottom: 18px;
  }

  #three {
    border: 10px solid yellow;
    background-color: green;
    left: 60px;
    bottom: 18px;

  }

.leipateksti {
    color: brown;
  }
  
  #punainen-kohta {
    color: red;
  }

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
    padding: 20em 20em;
  }

  h2 {
    margin-top: 1em;
    padding-top: 1em;
    color: brown;
  }

  code {
    padding: 2px 4px;
    vertical-align: text-bottom;
    background: #eee;
  }
  